.dashboard-logo-image{
    width: 150px;
    margin-top: 10px;
}

.dashboard-Sidebar-cont{
    height: 100vh;
    width: 15.7rem;
    border-right: 2px solid gainsboro;
    position: relative;
    text-align: center;
}

.dashboard-Sidebar-Bottom{
    position: absolute;
    bottom: 15px;
    width: 100%;    
}

.dashboard-Sidebar-Account{
    text-align: center;
}